.Container {
  display: block;
  margin: 15px auto;
  border: 2px solid rgb(14, 109, 109);
  padding: 20px;
  border-radius: 10px;
  width: 1000%;
}
.weeklyForcast {
  display: block;
  margin: 15px auto;
  border: 1px solid rgb(14, 109, 109);
  padding: 15px 20px;
  border-radius: 10px;
  width: 97%;
}
