#current-date {
  text-align: center;
  font-family: monospace;
}

#current-city {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  color: rgb(14, 109, 109);
  margin: 30px 0px;
}

.currentInfo {
  margin: 20px 20px 20px 20px;
}
