.extraInfo {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background: rgb(139, 201, 201);
  border-radius: 6px;
  font-family: monospace;
}

#humidity,
#windSpeed,
#currentWeather {
  margin: 0px 0%;
}

div .col-4 {
  display: inline-grid;
  margin: 0px auto;
  padding: 0px;
  width: 30%;
}
