.form-group {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#search-city-input {
  width: 500px;
  height: 35px;
  margin: 0px;
  font-size: 16px;
  border: 2px solid rgb(84, 173, 173);
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
}
.searchbutton {
  width: 45px;
  height: 41px;

  margin-top: 15px;
  font-size: 20px;
  padding: 0px;
  border: 2px solid rgb(84, 173, 173);
  background-color: white;
  box-shadow: 2px 2px 5px rgb(177, 177, 177);
  transition: all 200ms ease-in-out;
  position: relative;
  top: 7px;
  left: -20px;
  border-radius: 0px 10px 10px 0px;
}

img {
  width: 30px;
}

.searchbutton:hover {
  background-color: rgb(84, 173, 173);
  color: white;
}

#current-date {
  text-align: center;
  font-family: monospace;
}

#current-city {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  color: rgb(14, 109, 109);
  margin: 30px 0px;
}

.currentInfo {
  margin: 20px 20px 20px 20px;
}

.weeklyForcast {
  display: block;
  margin: 15px auto;
  border: 1px solid rgb(84, 173, 173);
  padding: 15px 20px;
  border-radius: 10px;
  width: 97%;
}
