.day {
  color: rgb(14, 109, 109);
}
.temp {
  color: #747474;
}

.vl {
  display: inline-block;
  border-left: 2px solid rgb(14, 109, 109);
  height: 100px;
  margin-bottom: 35px;
}

div .col-3 {
  display: inline-block;
  margin: 0px auto;
  padding: 0px;
  width: 19%;
}
#forcast.week {
  text-align: right;
  display: inline;
  font-size: 55px;
  padding: 0px;
}

.forecastPreview {
  text-align: center;
  display: inline;
  font-size: 20px;
  padding: 0px;
}

div .col-12 {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 0px;
}
canvas {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 0px;
}
